header {
    background-color: #FF0022;
    display: grid;
    grid-template-columns: 100px auto;
}

.logo {
    width: 50px;
    padding-left: 15px;
}
img {
    width: 25%;
}



footer {
    display: grid;
    grid-template-columns: 200px auto;
}