@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Niramit:ital,wght@1,200&display=swap');
/* -------------⬇️⬇️⬇️⬇️⬇️⬇️⬇️ALL PAGES⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️------------- */

header {
    background-color: #e70000;
    display: grid;
    grid-template-columns: 100px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
    font-size: 20px;
    font-family: Niramit, Arial, Helvetica, sans-serif;
}
nav a:hover {
    background-color:rgb(9, 12, 98) ;
    color:red;
}
.logo {
    width: 50px;
    padding: 10px;
    padding-left: 20px;
}
img {
    width: 25%;
}
body {
    background-color: rgb(183, 183, 183);

}
footer {
    background-color:#e70000; ;
    color:white;
    padding: 20px 10px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    color:black
}
footer p {
    font-size: 1.2em;
    margin: 25px;
}
/* -------------⬆️⬆️⬆️⬆️⬆️⬆️⬆️ALL PAGES⬆️⬆️⬆️⬆️⬆️⬆️⬆️------------- */
/* -------------⬇️⬇️⬇️⬇️⬇️⬇️⬇️HOME-PAGE⬇️⬇️⬇️⬇️⬇️⬇️⬇️------------- */

/*------Header------*/
#hero-background {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: #242856 ;
    z-index: -1;
}
#hero-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 100px;
    justify-content: stretch;
    font-family: Niramit, Arial, Helvetica, sans-serif;
   
}
#hero-msg h1 {
    text-align: center;
    font-family: Handlee, Helvetica;
    margin-top: -50px;
    margin-bottom: -60px;
}


/*-----MAIN-----*/
main {
    background-color: rgb(183, 183, 183);
    margin-bottom: -200px;
    z-index: -2;
}
.home-title {
    font-size: 80px;
    margin-top: -50px;
    color:#242856;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
.title-description {
    color: #242856;
    font-size: 20px;
    margin: 50px;
    text-align: center;
    font-family: Niramit, Arial, Helvetica, sans-serif;
}
#grid-title {
    font-size: 25px;
    font-family: Niramit, Arial, Helvetica, sans-serif;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 300px 100px 350px 100px 300px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    
}
.grid-background {
    display: none;
    grid-column: 2/5;
    grid-row: 2/5;
    background-color: #e70000;
    z-index: 1;
    
}
#nw-img {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300%;
    text-align: center + 500px;
    transition: transform .5s;
    
}
#ne-img {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 300%;
    transition: transform .5s;
}
#sw-img {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 300%;
    transition: transform .5s;
}
#se-img {
    grid-column: 4/5;
    grid-row: 4/5;
    width: 300%;
    transition: transform .5s;
}
#nwlink{
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 25px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
#nelink {
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 25px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
#swlink {
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 25px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
#selink {
    grid-column: 4/5;
    grid-row: 5/6;
    font-size: 25px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
#grid-title {
    grid-column: 1/7;
    grid-row: 1/2;
    font-size: 35px;
    color: #242856;
    font-family: Niramit, Arial, Helvetica, sans-serif;
}
#home-instruction {
    grid-column: 1/7;
    grid-row: 6/7;
    color: #242856;
    padding: 50px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
}
main a:hover {
    color: aliceblue;
    transform: scale(1.1);
}
/* -------------⬆️⬆️⬆️⬆️⬆️⬆️⬆️HOME-PAGE⬆️⬆️⬆️⬆️⬆️⬆️⬆️------------- */

/* -------------⬇️⬇️⬇️⬇️⬇️⬇️⬇️SUB-PAGES⬇️⬇️⬇️⬇️⬇️⬇️⬇️------------- */
#hero-subpage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 150px;
    align-items: center;
}
.hero-title-subpages {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 50px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    z-index: 1;
    color: #242856;
    pointer-events: none;
}
.hero-img-subpages {
    width: 80%;
    height: auto;
    
}
.hero-box-subpages {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 0;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.hero-subpage-description {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    justify-content: center;
    color: #242856;
    font-family: Niramit, Arial, Helvetica, sans-serif;
    border-bottom: solid;
    padding-bottom: 20px;
}
#hero-background {
    color: rgb(183, 183, 183);
    z-index: -1;
}

/* ------------ SUBPAGE MAIN SECTION ------------ */


.subpage-grid {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 100px 300px;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    border-color:rgb(9, 12, 98);
}
.subpage-left {
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subpage-right {
    grid-column: 3/4;
    grid-row: 1/4;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subpage-description {
    grid-column: 2/3;
    grid-row: 2/4;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Niramit, Arial, Helvetica, sans-serif;
}
.left-img {
    height: 300px;
    width: 250px;
    align-self: center;
}
.subpage-main-title {
    grid-column: 2/3;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
    font-family: Handlee, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #242856;
}






/* -------------⬆️⬆️⬆️⬆️⬆️⬆️⬆️SUB-PAGES⬆️⬆️⬆️⬆️⬆️⬆️⬆️------------- */