.cityscape{
    width: 100%;
    Height: auto;
}
#text {
    text-align: center;

}
#heading {
    font-size: 14px;
    color: lightblue;
}
#title {
    font-size: 26px;
}
#description {
    font-size: 16;
    padding: 50px;
}
#first {
    grid-column: 1/2;
    text-align: center;
}
#second {
    grid-column: 2/3;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-color:darkgray;
}
#third {
    grid-column: 3/4;
    text-align: center;
}
footer {
    background-color: rgb(81, 91, 123);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}





.footer-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
}